<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>
<ul>
         {% for food_order in food_orders %}
        <li>{{food_orders.image}}
            {{food_orders.name}}
        {{food_orders.description}}
        {{food_orders.price}}
        {{food_orders.count * food_orders.price}}
            <button
                    class="add_to_cart"
                    data-food_id="{{food.id}}"
            >+</button>
        </li>
          {% endfor %}
     </ul>
</body>
</html>