<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{category.name}}</title>
</head>
<body>
<ul>
    <h1>{{category.name}}</h1>
    <h3><a href="/">Все категории</a></h3>
    <ul class="actions">
        <li class="action" id="delete_category" onclick="return confirm('Delete this category?');">
            <a href="{{url_for('delete_category', id=category.id)}}">Удалить даную категорию</a></li>
    </ul>
    <ul>
    <li> <a href="{{url_for('new_food', id=category.id)}}">Добавить блюдо</a></li>
    </ul>
    <p>
{% for food in category.food %}
    <li class="title"><a href="{{url_for('food', id=food.id)}}">{{food.name}}</a></li>
{% endfor %}
</ul>
</body>
</html>