<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{category.name}}</title>
</head>
<body>
<ul>
    <h1>{{category.name}}</h1>
    <h3><a href="/">Все категории</a></h3>
    <ul class="actions">
        <li class="action" id="delete_category" onclick="return confirm('Delete this category?');"><a href="{{url_for('delete_category', id=category.id)}}">Delete</a></li>
    </ul>
    <p>
{% for food in category.food %}
    <li>{{food}}</li>
{% endfor %}
</ul>

</body>
</html>