<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

<p align="right"><a href="/cart"> Корзина </a>login as: {{user.login}}
    {% for role in user.roles %}
                <br> user role: {{role.name}}
            {% endfor %}</p>
<p align="right"> <a href="/login">login</a> <a href="/logout">logout</a></p>
{% if admin%}
    <h3>Категории</h3>
    <p><a href="/category/new">Добавить катекорию</a></p>
    <ul>
        {% for category in categories %}
                <li class="title"><a href="{{url_for('category', id=category.id)}}">{{ category.name }}</a></li>
        {% endfor %}
        {%endif%}
    </ul>
    <h2><p align="center">All menu</p></h2>
    <ul>
         {% for food in foods %}
        <li>{{food.image}}
            {{food.name}}
        {{food.description}}
        {{food.price}}
            <button
                    class="add_to_cart"
                    data-food_id="{{food.id}}"
            >+</button>
        </li>
          {% endfor %}
     </ul>
</body>
</html>

<script>
 $(document).ready(function(){

     $(".add_to_cart").click(function(){
         var id = $(this).attr("data-food_id");

         $.ajax({
             url : '/add-to-cart',
             type: "POST",
             data: {food_id:id},
             success: function(data){
                 console.log(data);
             },
             error: function(error){
                 console.log(error);
                 alert(error.responseJSON);
             }

         });
     });


     });
</script>